<Files "README.md">		
	Order allow,deny		
	Deny from all		
</Files>		
		
<Files "LICENSE">		
	Order allow,deny		
	Deny from all		
</Files>
 
ErrorDocument 403 /cs4753-project/404.php
ErrorDocument 404 /cs4753-project/404.php

RewriteEngine On

#Remove trailing index.php
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteCond %{REQUEST_URI} ^(.*/)index\.php$ [NC]
RewriteRule ^ %1 [L,R=301,NE]

#Remove trailing 'index.php/' to avoid weird errors
RewriteCond %{THE_REQUEST} /index\.php/ [NC]
RewriteCond %{REQUEST_URI} ^(.*/)index\.php/$ [NC]
RewriteRule ^ %1 [L,R=301,NE]

#Force HTTPS
RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_HOST} !=localhost
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

