body {
  padding-bottom: 40px;
  background-color: #eee;
}

.body-container{
	padding-top: 80px;
}

@media (min-width: 768px){
	.col-md-4 {
		max-width: calc(33.333333% - 10px);
		
	}
}

.item {
	border: 1px solid rgba(0,0,0,0.2);
	margin: 5px;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
	padding:0px !important;
}

.item-name{
	float: left;
	font-size: 18px;
	color: black !important;
}
.item:hover  .item-name{
	text-decoration: underline;	
}

.item-price{
	float: right;
	font-size: 14px;
	color: #5baf3a;
}

.item-image{
	width: 90%;
	height: 175px;
	background-size: contain;
	margin: auto;
	border-radius: 2px;
	
}

.item-add-to-cart{
	background-color: #fa845e;
	width: 95%;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	cursor: pointer;
	color: white;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
}



