body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url(../img/signup.jpg);
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  border-color: #f05f40;
  z-index: 2;
}
.btn{
	cursor: pointer;
	border-radius: 10px;
}
.btn-brand-color{
	color: #ffffff;
	border-color: #f05f40;
	background-color: #f05f40;
}
.btn-brand-color:hover{
	border-color: #eb3812;
	background-color: #eb3812;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#tosignupdiv{
	margin-top:45px;
	text-align: center;
}
#tosignup{
	text-decoration: none;
}
#wrapper{
	max-width: 370px;
    padding: 15px;
	padding-bottom: 30px;
    margin: 0 auto;
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 50px;
}

#bodycontainer{
	margin-top: 60px;
}

