/*about.css*/

body {
  padding-bottom: 40px;
  background-color: #eee;
}

#aboutLine{
	color: #eb3812;
	max-width: 66%;
}


#contentLines{
	text-align: left;
	max-width: 50%;
	border-width: 1px;
}
p{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

#aboutButtons {
	position: relative;
	bottom: 0;
}

#signUpContainer {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    background-image: url('../img/header.jpg');
}

