/*about.css*/

body {
  padding-bottom: 40px;
  background-color: #eee;
}

h5 {
	text-align: center;
}

#aboutLine{
	color: #eb3812;
	max-width: 66%;
}
.call-to-action{
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../img/aboutus.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 250px;
}
.call-to-action-text{
	position: absolute;
	z-index: 10;
	top: 50px;
	text-align: center;
	width: 100%;
}

#contentLines{
	text-align: center;
	max-width: 12%;
	border-width: 1px;
}
p{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

#aboutButtons {
	position: relative;
	bottom: 0;
}

#signUpContainer {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0;
    background-image: url('../img/header.jpg');
}

#missionText{
	color: #fff;
	font-size: 20px;
}

@media (max-width: 992px){
	#missionText{
		font-size: 1em;
	}
	#contentLines{
		max-width: 35%;
	}
}

