body {
  padding-bottom: 40px;
  background-color: #eee;
}

.body-container{
	padding-top: 80px;
}

.nav-pills .nav-link.active, .show>.nav-pills .nav-link {
	color: white;
	background-color: #f05f40;
}

.pills {
	margin-top: 5px;
}

#myaccount-pills{
	background-color: white;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
}
#myaccount-pills2{
  margin-top: 20px;
	background-color: white;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:5px;
}

#pill-logout:hover{
  background-color: #f05f40;
  color: white;
}

.invalid-feedback{
	font-size:10px !important;
	padding-left: 20px !important;
	padding-bottom: 20px !important;
}

.successupdate{
	background-color: #93e493 !important;
}

#updatefeedback{
	font-size: 12px !important;
	padding-top: 10px;
	padding-left: 0px !important;
}

#changefeedback{
	font-size: 12px !important;
	padding-top: 10px;
	padding-left: 0px !important;
}

#resendemaildiv{
  text-align:right;
  margin-top:5px;
  margin-right: 55px;
  font-size:12px;
  cursor:pointer;
  color: #f05f40;
}
#resendemaildiv:hover{
  text-decoration:underline;
}
